.class-1 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:right;text-indent:24.75pt;line-height:normal;direction:rtl;unicode-bidi:embed }
.class-2 { color:black; font-family:traditional arabic,serif; font-size:1.1667em }
.class-3 { color:black; font-family:traditional arabic,serif; font-size:1.5em }
.class-4 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:center;text-indent:24.75pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-5 { color:black; font-family:traditional arabic,serif; font-size:1.4167em }
.class-6 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:justify;text-indent:3.55pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-7 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:justify;text-indent:24.75pt;line-height:115%;direction:rtl;unicode-bidi:embed }
.class-8 { color:black; font-family:traditional arabic,serif; font-size:1.4167em; line-height:115% }
.class-9 { color:blue; font-family:traditional arabic,serif; font-size:1.4167em; line-height:115% }
.class-10 { margin-bottom:6.0pt;text-align:right;line-height:normal;direction:rtl;unicode-bidi:embed }
.class-11 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:center;text-indent:-3.55pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-12 { font-family:traditional arabic,serif; font-size:1.4167em; line-height:115% }
.class-13 { color:black }
.class-14 { color:blue }
.class-15 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:center;text-indent:3.55pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-16 { margin-top:2.25pt;margin-right:3.7pt;margin-bottom:12.0pt;margin-left:3.7pt;text-align:center;text-indent:3.7pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-17 { color:#C45911; font-family:traditional arabic,serif; font-size:0.8333em; line-height:115% }
.class-18 { color:#833C0B; font-family:traditional arabic,serif; font-size:0.8333em; line-height:115% }
.class-19 { color:red }
.class-20 { color:blue; font-family:traditional arabic,serif; font-size:0.8333em; line-height:115% }
.class-21 { color:red; font-family:traditional arabic,serif; font-size:1.4167em; line-height:115% }
.class-22 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:justify;text-indent:24.75pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-23 { color:#C45911; font-family:traditional arabic,serif }
.class-24 { color:#833C0B; font-family:traditional arabic,serif; font-size:1.4167em; line-height:115% }
.class-25 { margin-bottom:6.0pt;text-align:justify;line-height:normal;direction:rtl;unicode-bidi:embed }
.class-26 { margin-bottom:6.0pt;text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed }
.class-27 { font-family:traditional arabic,serif; font-size:1.3333em }
.class-28 { font-family:arial,sans-serif; font-size:1.1667em }
.class-29 { color:blue; font-family:traditional arabic,serif; font-size:1.4167em }
.class-30 { font-family:traditional arabic,serif; font-size:1.4167em }
.class-31 { color:black; font-family:traditional arabic,serif; font-size:1.1667em; line-height:115% }
.class-32 { color:black; font-family:traditional arabic,serif; font-size:0.9167em; line-height:115% }
.class-33 { color:blue; font-family:traditional arabic,serif; font-size:0.9167em; line-height:115% }
.class-34 { color:#C45911; font-family:traditional arabic,serif; font-size:1.4167em; line-height:115% }
.class-35 { color:black; font-family:traditional arabic,serif }
.class-36 { font-family:traditional arabic,serif; font-size:1.1667em; line-height:115% }
.class-37 { color:#C45911; font-family:traditional arabic,serif; font-size:0.9167em; line-height:115% }
.class-38 { text-align:justify;line-height:115%;direction:rtl;unicode-bidi:embed }
.class-39 { margin-bottom:6.0pt;text-align:justify;line-height:115%;background:white;direction:rtl;unicode-bidi:embed }
.class-40 { margin-bottom:6.0pt;text-align:justify;line-height:normal;background:white;direction:rtl;unicode-bidi:embed }
.class-41 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:center;text-indent:3.55pt;line-height:115%;direction:rtl;unicode-bidi:embed }
.class-42 { text-align:justify;direction:rtl;unicode-bidi:embed }
.class-43 { color:blue; font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-44 { color:black; font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-45 { color:red; font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-46 { color:blue; font-family:traditional arabic,serif; font-size:0.8333em; line-height:107% }
.class-47 { text-align:justify;text-indent:28.5pt;direction:rtl;unicode-bidi:embed }
.class-48 { font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-49 { color:#C45911; font-family:traditional arabic,serif; font-size:0.9167em; line-height:107% }
.class-50 { color:red; font-family:traditional arabic,serif; font-size:1.4167em }
.class-51 { margin-top:2.25pt;margin-right:3.7pt;margin-bottom:12.0pt;margin-left:3.7pt;text-align:center;text-indent:.05in;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-52 { margin-bottom:6.0pt;text-align:justify;direction:rtl;unicode-bidi:embed }
.class-53 { margin-bottom:1.0pt;text-align:right;direction:rtl;unicode-bidi:embed }
