.class-1 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:right;text-indent:24.75pt;line-height:normal;direction:rtl;unicode-bidi:embed }
.class-2 { color:black; font-family:traditional arabic,serif; font-size:1.1667em }
.class-3 { color:black; font-family:traditional arabic,serif; font-size:1.5em }
.class-4 { margin-top:2.25pt;margin-right:3.75pt;margin-bottom:2.25pt;margin-left:3.75pt;text-align:center;text-indent:1.0pt;line-height:33.0pt;direction:rtl;unicode-bidi:embed }
.class-5 { color:black; font-family:traditional arabic,serif; font-size:1.4167em }
.class-6 { text-align:center;text-indent:1.0pt;direction:rtl;unicode-bidi:embed }
.class-7 { font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-8 { text-align:right;text-indent:.5in;direction:rtl;unicode-bidi:embed }
.class-9 { color:blue; font-family:traditional arabic,serif; font-size:0.8333em; line-height:107% }
.class-10 { color:red; font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-11 { color:black; font-family:traditional arabic,serif }
.class-12 { text-align:justify;text-indent:.5in;direction:rtl;unicode-bidi:embed }
.class-13 { color:blue; font-family:traditional arabic,serif; font-size:1.4167em; line-height:107% }
.class-14 { font-size:1.1667em; line-height:107% }
.class-15 { color:blue }
.class-16 { color:red }
.class-17 { text-align:justify;text-indent:.5in;line-height:normal;direction:rtl;unicode-bidi:embed }
.class-18 { font-family:traditional arabic,serif; font-size:1.4167em }
.class-19 { text-align:right;direction:rtl;unicode-bidi:embed }
.class-20 { color:#C45911; font-family:traditional arabic,serif; font-size:0.8333em; line-height:107% }
.class-21 { color:#C45911; font-family:traditional arabic,serif; font-size:1.1667em; line-height:107% }
.class-22 { text-align:justify;direction:rtl;unicode-bidi:embed }
.class-23 { color:#C45911; font-family:traditional arabic,serif }
.class-24 { color:blue; font-family:traditional arabic,serif }
.class-25 { text-align:center;text-indent:.5in;direction:rtl;unicode-bidi:embed }
.class-26 { color:blue; font-family:traditional arabic,serif; font-size:1.4167em }
.class-27 { text-align:center;direction:rtl;unicode-bidi:embed }
.class-28 { text-align:center;text-indent:.2pt;direction:rtl;unicode-bidi:embed }
.class-29 { text-align:right;text-indent:.2pt;direction:rtl;unicode-bidi:embed }
.class-30 { font-family:traditional arabic,serif }
